.header-content {
  display: flex;
  flex: 1;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
}

.menu-button {
  display: flex;
  gap: 10px;
  padding: 1rem;
}
.menu-icon {
  max-width: 200px;
}

.busca-button {
  display: flex;
  gap: 10px;
  padding: 1rem;
}
