.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-t);
  font-size: 1.5rem;
}

.logo {
  max-width: 160px;
  flex: 1 1 160px;
  padding: 0 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
}

.menu a {
  display: block;
  padding: 1rem;
}

.menu a::after {
  content: "";
  display: block;
  border-radius: 4px;
  width: 0%;
  height: 3px;
  background-color: #000;
  transition: 0.3s;
}

.menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }
  .menu {
    justify-content: center;
    gap: 0px 20px;
  }
}
