.introducao {
  background: url("../../img/intro.jpg") no-repeat fixed;
  height: calc(100vh - 114px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text-content {
  flex: 1 1 25ch;
  max-width: 75ch;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 4px;
  font-family: var(--font-t);
}
